<section id="favorites-view" class="view">

    <nav>
        <ul data-bind="foreach: days">
            <li class="route-left"
                data-bind="css: {'route-active', isSelected()}">
                <a data-bind="attr: {href: '#/favorites/date/' + date}">
                    <span data-bind="text: day"></span>
                </a>
            </li>
        </ul>
    </nav>


    <ul></ul>
    <ul data-bind="foreach: favorites">
        <li data-bind="text: "></li>
    </ul>
</section>